<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="3; URL=./{{stage}}/{{version}}" />
  </head>
  <body>
    <p>
      The latest version of this documentation can be found here
      <a href="./{{stage}}/{{version}}">{{service}}</a>. If you are not
      redirected within 3 seconds to that service, click
      <a href="./{{stage}}/{{version}}">here</a> to view the equivalent {{version}} sepc.
    </p>
  </body>
</html>
